<form class="col-md-6">
    <div class="form-group">
        <label for="userName">GitHub username</label>
        <input type="text" class="form-control" id="userName" placeholder="Input the github username ">
        <small class="form-text text-muted">Or repository name</small>
    </div>
    <div class="form-group">
        <label for="repoName">Repository name</label>
        <input type="text" class="form-control" id="repoName" placeholder="repoName">
    </div>
    <div>
        <button class="btn btn-primary">Submit</button>
    </div>
    
</form>
